body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:lightgray;
}

.header-text {
  font-size: 50px;
}

.content {
  display: grid;
  background-color: white;
  height: 600px;
  width: 600px;
  max-width: 100%;
}

.buttons {
  height: 600px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 5px;
}

.changeGridSize,
.rainbowMode {
  width: 170px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: rgb(70, 64, 64);
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
}

.main {
  display: flex;
  gap: 50px;
}