body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:lightgray;
}

.header-text {
  font-size: 50px;
}

.content {
  display: grid;
  background-color: white;
  height: 600px;
  width: 600px;
  max-width: 100%;
}

.buttons {
  height: 600px;
  width: 200px;
  background-color: white;
}

.main {
  display: flex;
  gap: 50px;
}